<div class="container-fluid">

Average Trip: <%= Trip.average_time("all") %> <br>
Average Trip to Work: <%= Trip.average_time("To Work") %> <br>
Average Trip to Home: <%= Trip.average_time("To Home") %>




</div>