<div class="container">
  <%= form_for @trip, remote: true, html: { style: "display:inline;" } do |f| %>
    <ul class="errors"></ul>
    <% if @trip.start_time && @trip.end_time %>
      <%= render "full_form" %>
    <% elsif @trip.start_time.blank? %>
    	<%= render "start_form" %>
    <% elsif @trip.end_time.blank? %>
    	<%= render "end_form" %>
    <% end %>
  <% end %>
</div>
